GOOGLE_SHEET_ID=<Google sheet id>
GOOGLE_CREDENTIALS=<json secret key ::paste here json key not the file path>
DISCORD_BOT_TOKEN=<discord bot token obtained from bot application under discord developer portal>
DISCORD_USER_ID= <discor user id>